<!DOCTYPE html>
<html style="background-color: #f5f5f5">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Kaori | A simple and modern Discord bot that provides fun and searching features to any Discord server, it also comes with a large selection of moderation tools. Kaori is built on Node.js and uses the Discord.js framework."
    />
    <meta
      name="keywords"
      content="Discord, Discord bots, Discord bot, Kaori, Kaori Discord"
    />
    <meta name="author" content="Kaori" />
    <title>Kaori - Discord</title>
    <script src="js/commands.js"></script>
    <link rel="icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="css/commands.css">
    <link rel="stylesheet" href="css/bulma.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <meta property="og:url" content="https://https://bot-kaori-node.herokuapp.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="A simple and modern Discord bot." />
    <meta
      property="og:description"
      content="Kaori provides fun and searching features to any Discord server, it also comes with a large selection of moderation tools. Kaori is built on Node.js and uses the Discord.js framework."
    />
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />
  </head>
  <body>
    <div class="hero-head hero is-info" style="background-color: #998969">
      <header class="nav">
        <div class="container">
          <a class="nav-item" href="/">
            <img
              src="/assets/discord-logo.svg"
              class="hideme"
              style="width: 6em"
            />
          </a>
          <div class="nav-right">
            <a href="/" class="nav-item"> Home </a>
              <a href="commands" class="nav-item  is-active"> Commands </a>
              <a href="https://discord.gg/wD7T6Ty" class="nav-item">
                Community
              </a>
              <a
                href="https://discord.com/api/oauth2/authorize?client_id=730092279326441574&permissions=8&scope=bot%20applications.commands"
                class="nav-item"
              >
                <span>Invite Kaori To Your Server</span>
              </a>
          </div>
        </div>
      </header>
    </div>
    <div class="main">
      <div class="columns">
        <div class="column is-one-quarter" style="opacity: 0.8">
          <div
            class="card"
            style="
              padding: 1em 1em 1em 1em;
              width: 100%;
              position: sticky;
              top: 10px;
            "
          >
            <aside class="menu">
              <p class="menu-label">Commands</p>
              <ul class="menu-list">
                <li>
                  <a
                    class="tablinks is-active"
                    onclick="show(event, '<%- commands[0].name %>');""
                    ><%= commands[0].name %></a
                  >
                </li>
                <% commands.slice(1, commands.length).forEach(({ name, value }) => { %>
                <li>
                  <a
                    class="tablinks"
                    onclick="show(event, '<%- name %>');""
                    ><%= name %></a
                  >
                </li>
                <% }); %>
              </ul>
            </aside>
          </div>
        </div>
        <div class="column is-one-half" style="opacity: 0.8">
          <div id="<%- commands[0].name %>" class="tabcontent" style="display: block">
            <% commands[0].value.forEach(({ name, description, usage, aliases}) => { %>
            <div class="card card-command">
              <header class="card-header">
                <p class="card-header-title">
                  <code><%= name %></code>
                </p>
              </header>
              <div class="card-content card-content-command">
                <div class="content"><%= description %></div>
              </div>
            </div>
            <% }) %>
          </div>
          <% commands.slice(1, commands.length).forEach(({ name, value }) =>{ %>
          <div id="<%- name %>" class="tabcontent" style="display: none">
            <% value.forEach(({ name, description, usage, aliases}) => { %>
            <div class="card card-command">
              <header class="card-header">
                <p class="card-header-title">
                  <code><%= name %></code>
                </p>
              </header>
              <div class="card-content card-content-command">
                <div class="content"><%= description %></div>
              </div>
            </div>
            <% }) %>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
